@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  margin: 0;
  background-color: $main-background;
}

.container {
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
}

.narrow-container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}

header {
  position: sticky;
  background-color: white;
  
  .narrow-container {
    @include flex-between(center);
    height: 130px;
  }

  nav {
    display: flex;
  }

  .nav-link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

}