* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
}

.narrow-container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}
